
.carrossel-container {
  position: relative;
  overflow: hidden;
}

.carrossel-layer {
  transform: rotate(-22.5deg);
  transform-origin: bottom left;
}

.carrossel-transition {
  transition: all 0.5s ease-in-out;
}

@media (max-width: 640px) {
  .carrossel-layer {
    width: 12rem; /* w-48 */
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  .carrossel-layer {
    width: 14rem; /* w-56 */
  }
}
