@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}

header {
  background: #0C0052 !important;
}

body {
  background: #EDEDED;
}
.custom-breadcrumb  a {
  color: #0000004D!important;
  text-decoration: none!important;
  font-weight: 300!important;
  font-size:'14px'!important;
}

.custom-breadcrumb  svg {
  color: #0000004D!important;
  font-size: 10px;
}

.custom-breadcrumb a:hover {
  color: #0000004D!important;
  text-decoration: underline!important;
}

[class^="awsui_root"] > [class^="awsui_input_"] {
  background: #3D3375 !important;
}

a > [class^="awsui_title_"] {
  font-size: 0.875rem !important;
}

a > [class^="awsui_logo_"] {
  border-radius: 5rem !important;
}